
h1 {
    color: rebeccapurple;
}

body {
    min-height: 100vh;
    background-image: linear-gradient( rgba(255,255,255,0.00) 80%,rgb(142, 99, 185) 100%);
    background-repeat: no-repeat;  
}
footer {
    padding: 10px;
    color: white;
    background-color: rebeccapurple;

}

.content {
    padding-bottom: 150px;
    font-family: 'Amiri', serif;
}

.seth-brand{
    background-color: rebeccapurple;
    color: white;
}

#name {
    color: rebeccapurple;
    text-decoration: none;
}